*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(d1.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
    position: relative;
    overflow-y: visible;
}
nav{
    display: flex;
    padding: 20px 100px;
    align-items: center;

}
nav img{
    width: 150px;
}
nav ul{
    text-align: right;
    display: inline;
    list-style: none;
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
.main-text{
    margin: 15% auto;
    text-align: center;
}
.main-text h1{
    font-size: 50px;
}
.main-text .button{
    text-decoration: none;
    display: block;
    width: 200px;
    height: 35px;
    margin: 25px auto;
    color: #fff;
    line-height: 35px;
    border: 1px solid #fff;
}
.button:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
}
.bottom-img{
    height: 250px;
    width: 243%;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    animation: animate 8s linear infinite;

}
@keyframes animate{
    0%{
        left: 0;
    }
    100%{
        left: -2000px;
    }
}
.fun{
    color: #fff;
}
.fun:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
