*{
    margin: 0;
    padding: 0;
}
body{
    height: 900vh;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(prashantb1.jpg);
    background-position: center;
    background-size: contain;
    color: #fff;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
}
nav{
    display: flex;
    padding: 10px 10px;
    align-items:center;

}
nav img{
    width: 75px;
    border-radius: 50%;
}
ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;

}
li{
    float: left;
    border-right: 1px solid #156ee2;

}
a{
    display: flex;
    padding: 0 10px;
    color: #fff;
    text-decoration:none;

}
a:hover,.active a{
    background-color: #156ee2;
    transition: 0.5s;
}

.main-text{
    margin: 15% auto;
    text-align: center;
}
.main-text h1{
    font-size: 50px;
}
.main-text .button{
    text-decoration: none;
    display: block;
    width: 205px;
    height: 35px;
    margin: 25px auto;
    color: #fff;
    line-height: 35px;
    border: 1px solid #fff;
}
.button:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
}

