*{
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(prashantb1.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
}
nav{
    display: flex;
    padding: 20px 100px;
    align-items: center;

}
nav img{
    width: 100px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
li{
    float: left;
    border-right: 1px solid #156ee2;

}
a{
    display: block;
    padding: 0 28px;
    color: #fff;
    text-decoration: none;

}
a:hover,.active a{
    background-color: #156ee2;
    transition: 0.5s;
}

.main-text{
    margin: 15% auto;
    text-align: center;
}
.main-text h1{
    font-size: 50px;
}
.main-text .button{
    text-decoration: none;
    display: block;
    width: 200px;
    height: 35px;
    margin: 25px auto;
    color: #fff;
    line-height: 35px;
    border: 1px solid #fff;
}
.button:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
}

